html{
    font-size: 10px;
}

span{
    background-color: red;
    
}

.logo-text{
    background-color: blueviolet;
}

.nav-bar{
    background-color: burlywood;
    font-size: 3rem;
}

.nav-icon{
    height: 6rem;
    width: 6rem;
    background-color: white;
}