@import url("../css/root.css");
html {
  font-size: 10px;
}
body {
  background-color: var(--bg-primary-color);
  color: var(--text-hover-color);
}
.home-navbar {
  font-size: 2.5rem;
  padding: 1.5rem;
  text-decoration: none;
}
.hr-line {
  height: 0.1rem;
  background-color: var(--text-hover-color);
}
.login-text {
  color: var(--text-hover-color);
  float: right;
  font-size: 2.2rem;
}

.sky-text {
  color: var(--sec-text-color);
  font-family: cursive;
}

.logo :hover {
  color: var(--text-hover-color);
}

.logo {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 3rem;
}
.links {
  text-decoration: none;
}

.links:hover {
  color: var(--text-hover-color);
}

Link {
  color: var(--text-hover-color);
}
/* .nav {
  background-color: grey;
  font-size: 2.3rem;
  color: "#00495";
} */

.padding-right-1 {
  padding-right: 3rem;
}

.btn_primary {
  background-color: var(--primary-text-color);
  font-size: 2rem;
  padding: 0.4rem 2.2rem;
  color: var(--text-hover-color);
}

@media only screen and (max-width: 555px) {
  html {
    font-size: 0.5rem;
    /* color: var(--text-hover-color); */
    /* background-color: blueviolet; */
  }
}
