html {
  font-size: 10px;
}
.image {
  height: 33rem;
  width: 50rem;
}
.video_img {
  height: 18rem;
  width: 30rem;
}

.video_content {
  font-size: 1.5rem;
  max-width: 28rem;
  color: var(--text-hover-color);
}

@media only screen and (max-width: 850px) {
  .video_img {
    height: 15rem;
    width: 25rem;
  }
}
